#!/bin/bash

{% if cluster_regridding %}
# This script is specific for the PIK cluster, which uses SLURM for job scheduling.
# and the module system.
#SBATCH --qos=short
#SBATCH --job-name=cdo_regrid_{{runid}}
#SBATCH --account=ice
#SBATCH --output=log/cdo_{{runid}}.out
#SBATCH --error=log/cdo_{{runid}}.err
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH --mail-type=END,FAIL
#SBATCH --mail-user={{user}}@pik-potsdam.de

# same as cpus-per-task
threads=1
cdoc="srun -n $SLURM_NTASKS cdo -P $threads"
# Bind your OpenMP threads
export OMP_NUM_THREADS=$threads
{% else %}
cdoc=cdo
{% endif %}


module load cdo

mkdir -vp {{target_path}}/sellevel
mkdir -vp {{target_path}}/vertmean
mkdir -vp {{target_path}}/remap
mkdir -vp {{target_path}}/concat

## loop area


{% for file in cmip_files %}

$cdoc sellevel,{{zlevelstring}} {{source_path}}/{{file}} {{target_path}}/sellevel/{{file}}
$cdoc vertmean {{target_path}}/sellevel/{{file}} {{target_path}}/vertmean/{{file}}

$cdoc -b F64 -f nc4c remapbil,{{target_grid}} {{target_path}}/vertmean/{{file}} {{target_path}}/remap/{{file}}

{% endfor %}


## merge all files

cd {{target_path}}/remap && $cdoc -b F64 -f nc4c mergetime {{cmipfilesstring}} {{target_path}}/concat/{{runid}}.nc